
module kmod-device-fix 1.0;

require {
	type device_t;
	type kmod_t;
	class chr_file {write open getattr};
}

#============= kmod_t ==============
allow kmod_t device_t:chr_file {write open getattr};
